apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://localhost:{{ prometheus_port }}
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "5s"
      httpMethod: POST
      manageAlerts: true
      prometheusType: Prometheus
