[defaults]
inventory = ./inventory
remote_user = devops
host_key_checking = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_cache
fact_caching_timeout = 86400
pipelining = True
#forks = 50

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_askpass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path = /tmp/ansible-%%h-%%p-%%r
