<?php
	echo "Current hostname: {{ ansible_facts.fqdn }}" . "<br>";

	{% for host in groups['database'] %}
	$link = mysqli_connect('{{ hostvars[host].ansible_facts.default_ipv4.address }}', '{{ hostvars[host].db_user }}', '{{ hostvars[host].db_password }}', '{{ hostvars[host].db_database }}') or die(mysqli_connect_error($link));
	{% endfor %}

	if (!$link) {
		die("Connect failed: " . mysqli_connect_error() . "\n");
	}
	echo "Database connect successfully" . "<br>";

	echo "Show Databases List: " . "<br>";
	$res = mysqli_query($link, "SHOW DATABASES;");
	while ($row = mysqli_fetch_assoc($res)) {
		echo " ".$row['Database'] . "\n";
	}
?>
