[defaults]
inventory = ./inventory
remote_user = devops
log_path = ./running.log
collections_path = collections/

[privilege_escalation]
become = True
become_user = root
become_method = sudo
become_askpass = False
