[defaults]
inventory = ./inventory
remote_user = devops
#inject_facts_as_vars = true
host_key_checking = False
log_path = ./running.log
roles_path = /home/devops/monitoring-stacks/roles/
collections_path = /home/devops/monitoring-stacks/collections/

[privilege_escalation]
become = True
become_user = root
become_method = sudo
become_askpass = False
